{% extends '@Main/layout.html.twig' %}

{% block title %}
    Mes  Livres
{% endblock %}
{% block body %}
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url('author_homepage') }}">Tableau de bord</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span class="active">Mes Livres</span>
            </li>

        </ul>
    </div>
    <div class="m-heading-1 border-green m-bordered row" style="margin-bottom: 17px;">
        <h2><span class="fa fa-list-ul"></span> &nbsp; Mes Livres </h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red">
                <div class="portlet-body ">
                    <table class="table table-striped table-bordered datatable " cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="text-center">Date Creation</th>
                            <th class="text-center">Titre</th>
                            <th class="text-center">Categorie</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books %}
                            <tr class="text-center">
                                <td >{{ book.createdAt|date('d-m-Y') }}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.category.name }}</td>
                                <td class="col-md-3">
                                    <a href="{{ url('author_show_book',{token:book.token}) }}" class="btn blue "><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="top:-150px;position:fixed;" class="modal fade" id="model-tag-version" tabindex="-1" role="basic"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #17C4BB">
                    <h4 class="modal-title font-white bold font col-md-9">Marquage du version </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input id="descriptionTag" class="form-control" placeholder="donner un titre a ce marquage">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModal" type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer
                    </button>
                    <button id="execTagBookVersion" type="button" class="btn blue btn-outline">Confirmer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <input type="hidden" value="" id="menuSelected" data-menu="page-my-books">

{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.tag-version').click(function () {
                var url = $(this).data('url');
                $('#execTagBookVersion').data('url', url);
            });
            $('#execTagBookVersion').click(function () {
                var elem = $(this);
                var url = elem.data('url');
                var description = $('#descriptionTag').val();
                if(description.length>1){
                    $.ajax({
                        url: url,
                        method: 'POST',
                        data: {description: description},
                        beforeSend: function () {
                            $('#descriptionTag').parent().removeClass('has-error');
                            $('#closeModal').click();
                        },
                        success: function () {
                            $('.tag-version[data-url="' + url + '"]').addClass('disabled').off().attr('href', '');
                            toastr.success('cette version du livre a été marqué');
                            $('#descriptionTag').val("");
                        }
                    })
                }else
                    $('#descriptionTag').parent().addClass('has-error');
            });

            $('.revertBookTag').click(function () {
                var elem = $(this);
                var url = elem.closest('.modal-content').find('select>option:selected').data('url');
                $.ajax({
                    url: url,
                    method: 'POST',
                    beforeSend: function () {
                        $('.closeModal').click();
                    },
                    success: function () {
                        toastr.success('ce marquage a été retabli avec succes!');
                    }
                })
            })
        })
    </script>
{% endblock %}