{% extends '@Main/layout.html.twig' %}
{% import _self as macros %}

{% block title %}
    {{ book.title }} - Édit
{% endblock %}
{% block body %}
    <div id="prototypes" data-block="null" data-authorization-prototype="
        {% filter escape %}
            {{ include('form/form.block.authorization.html.twig') }}
        {% endfilter %}">
    </div>
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ url('administrator_homepage') }}">Tableau de bord</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-book"></i>
                <a href="{{ url('administrator_books') }}">Liste des livres</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span class="active">{{ book.title }}</span>
            </li>


        </ul>
    </div>
    <div class="m-heading-1 border-green m-bordered row" style="margin-bottom: 17px;">
        <h2><span class="fa fa-pencil-square-o"></span> &nbsp; {{ book.title }} - Édit</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form,{'attr':{'class':'blockForm','enctype':'multipart/form-data'}} ) }}
            <div class="portlet box green-meadow">
                <div class="portlet-title">
                    <div class="caption col-md-4">
                        Information du livre
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="reduire" title=""> </a>
                        <a href="" class="fullscreen" data-original-title="plein ecran" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body col-md-12" style="display: block;margin-bottom: 15px">
                    <div class="row form-group ">
                        {{ form_label(form.title, null,{ 'label_attr': {'class': 'col-sm-2 col-sm-offset-1 control-label'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.title,{"attr":{"class":"form-control rq",'data-minLn':2}}) }}
                            <span id="fname-error" class="help-block with-errors">Vous devez entrer le titre de livre <small>( 2 caractéres au minimum )</small></span>
                        </div>
                    </div>
                    <div class="row form-group ">
                        {{ form_label(form.category, null,{ 'label_attr': {'class': 'col-sm-2 col-sm-offset-1 control-label'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.category,{"attr":{"class":"form-control rq"}}) }}
                            <span id="fname-error" class="help-block with-errors">Vous devez choisir la catégorie du livre</span>
                        </div>
                    </div>
                    <div class="row form-group ">
                        {{ form_label(form.iSBN, null,{ 'label_attr': {'class': 'col-sm-2 col-sm-offset-1 control-label'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.iSBN,{"attr":{"class":"form-control rq"}}) }}
                            <span id="fname-error" class="help-block with-errors">Ce champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="row form-group ">
                        {{ form_label(form.price, null,{ 'label_attr': {'class': 'col-sm-2 col-sm-offset-1 control-label'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.price,{"attr":{"class":"form-control"}}) }}
                        </div>
                    </div>
                    <div class="row form-group ">
                        {{ form_label(form.language, null,{ 'label_attr': {'class': 'col-sm-2 col-sm-offset-1 control-label'}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.language,{"attr":{"class":"form-control rq"}}) }}
                            <span id="fname-error"
                                  class="help-block with-errors">Vous devez choisir la langue du livre</span>
                        </div>
                    </div>
                    <div class="row form-group ">
                        {{ form_label(form.mainAuthors, null,{ 'label_attr': {'class': 'col-sm-2 col-sm-offset-1 control-label '}}) }}
                        <div class="col-md-8 select2-bootstrap-append">
                            {{ form_widget(form.mainAuthors,{"attr":{"class":"form-control select2 rq"}}) }}
                            <span id="fname-error"
                                  class="help-block with-errors">Vous devez choisir au moin un auteur.</span>
                        </div>
                    </div>
                    <div class="row form-group ">
                        {{ form_label(form.description, null,{ 'label_attr': {'class': 'col-sm-2 col-sm-offset-1 control-label  '}}) }}
                        <div class="col-md-8">
                            {{ form_widget(form.description,{"attr":{"class":"form-control rq",'data-minln':20 }}) }}
                            <span id="fname-error" class="help-block with-errors">Vous devez écrire la description du livre <small>( 20 caractéres au minimum )</small> .</span>
                        </div>
                    </div>
                    <div>
                        <h3 style="color: #626262;" class="col-md-12 text-center"> Les images</h3>
                        <div class="col-md-12 images" style="padding: 10px">
                            {% for img in form.vars.value.images %}
                                <div class="col-lg-3 col-md-4 col-sm-2">
                                    <input value="{{ img.id }}" class="hidden" type="checkbox" name="deleteImages[]">
                                    <button style="position:absolute;z-index: 1 " class="btn red dlt-img"><i
                                                class="fa fa-trash-o"></i> Supprimer
                                    </button>
                                    <img style="padding: 10px" width="100%"
                                         src="{{ vich_uploader_asset(img,'mediaFile') }}">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12">
                            <input type="file" name="images[]" class="imageBook" accept="image/*" multiple>
                            <span  class="help-block " >La resolution des images doit être (400 X 600) </span>
                        </div>
                    </div>
                    <div class="col-md-12 text-center" style="margin: 15px 0">
                        <button style="margin-top: 3px" class="btn btn-circle btn-success "><i
                                    class="fa fa-download"></i>Enregistrer Modification
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form,{render_rest:false}) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green-meadow col-md-12">
                <div class="portlet-title">
                    <div class="col-md-4 caption">
                        Structure du livre
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="reduire" title=""> </a>
                        <a href="" class="fullscreen" data-original-title="plein ecran" title=""> </a>
                    </div>


                    <div style="margin-top: 5px;" class=" pull-right ">
                        <button data-toggle="modal" href="#new-block-modal"  type="button"
                                style="margin-right: 10px"
                                class="btn btn-sm btn-outline  btn-success">
                            <i class="fa fa-plus"></i>&nbsp;Ajouter un bloc
                        </button>
                    </div>
                </div>
                <div class="portlet-body col-md-12" style="display: block;">
                    <div class=" fakeTable" id="blockTree">
                        <table class="table table-bordered " style="margin-bottom: 0px">
                            <thead>
                            <tr>
                                <th class="col-md-5 col-sm-6 col-xs-6">Titre</th>
                                <th class="col-md-2 text-center hidden-sm hidden-xs">Dernière version Validée</th>
                                <th class="col-md-2 text-center col-sm-2 col-xs-2">Version Publiée</th>
                                <th class="col-md-3  text-center col-sm-4 col-xs-4">Action</th>
                            </tr>
                            </thead>
                        </table>
                        {% macro displayVersionBlock(blocks) %}
                            {% import _self as macros %}
                            {% for block in blocks %}
                                <li class="block-branch {% if block.parent is not null %} hidden {% endif %}"
                                    data-id={{ block.id }}
                                    data-parent={% if block.parent is not null %}{{ block.parent.id }}{% else %}null{% endif %}
                                    data-level={{ block.level }}
                                    data-position={{ block.position }}>
                                    <div>
                                        <div class="cl-btn fake-column col-md-5 col-sm-6 col-xs-6" data-pdl="25">
                                            {% if block.childrens|length>0 %}
                                                <button role="button" class="btn green  btn-show-children"><i
                                                            class=" fa fa-plus"></i></button>
                                            {% endif %}
                                            <input style="pointer-events: none" type="text" id="title-{{ block.id }}"
                                                   class="form-control  block-title"
                                                   value="{{ block.title }}">
                                        </div>
                                        <div class="fake-column col-md-2 hidden-sm hidden-xs text-center">
                                            <div class="label label-success ">
                                                {% if block.lastValidatedVersion is not null %}
                                                    {{ block.lastValidatedVersion.number|number_format(1,'.',',') }}
                                                {% else %}
                                                    pas de version
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="fake-column col-md-2 col-sm-2 col-xs-2 text-center">
                                            <div class="label label-success ">
                                                {% if block.publishedVersion is not null %}
                                                    {{ block.publishedVersion.number|number_format(1,'.',',') }}
                                                {% else %}
                                                    pas de version
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="fake-column actions col-md-3 col-sm-4 col-xs-4 text-center">
                                            <div >
                                                <a class="btn green btn-icon-only"
                                                   href="{{ url('administrator_book_block',{token:block.token}) }}">
                                                    <i class="fa fa-eye"></i></a>
                                            </div>

                                            <div  data-toggle="tooltip" data-title="Détails">
                                                <a href="#block_info_{{ block.id }}" data-toggle="modal"
                                                   class="btn blue btn-icon-only"><i class="fa fa-cog"></i></a>
                                            </div>
                                            <div data-toggle="tooltip"
                                                 data-title="Effacer!">
                                                <button type="button" class="btn red btn-icon-only btn-delete-block"
                                                        data-id="{{ block.id }}">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    {% if block.childrens|length>0 %}
                                        <ol>
                                            {{ macros.displayVersionBlock(block.childrens|sortByPosition) }}
                                        </ol>
                                    {% endif %}
                                </li>
                            {% endfor %}

                        {% endmacro %}
                        <ol class="sortable ">
                            {{ macros.displayVersionBlock(book.underBlock|sortByPosition) }}
                        </ol>
                    </div>
                    <div class="hiddenForm col-md-12" style="margin-top: 50px">
                        <div id="block-fields-list" style="list-style: none">
                            {% for block in book.blocks %}
                                <div class="block-field " id="block_{{ block.id }}">
                                    <div data-book="{{ book.id }}" class="modal fade fill-in blockModal" id="block_info_{{ block.id }}" tabindex="-1" aria-hidden="true">
                                        <a type="button" class="close-modal" data-dismiss="modal" aria-hidden="true">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <div class="modal-dialog">
                                            <form action="{{ url('administrator_update_block',{id:block.id}) }}" class="updateBlockForm" {% if block.parent %} data-parent="{{ block.parent.id }}" {% endif %}>
                                                <div class="modal-content row">
                                                    <div class="modal-header">
                                                        <h2><i class="fa fa-pencil"></i>&nbsp; Détails du bloc</h2>
                                                    </div>
                                                    <div class="modal-body col-md-12">
                                                        <div class="form-group col-md-12">
                                                            <label for="blockTitle" class="col-sm-4 control-label">Titre du bloc</label>
                                                            <div class="col-sm-8">
                                                                <input value="{{ block.title }}" name="blockTitle" required type="text" class="form-control" id="blockTitle"
                                                                       placeholder="Titre du bloc">
                                                            </div>
                                                        </div>
                                                        <div class="form-group text-center col-md-12">
                                                            <label class="col-md-4" style="display: flex" for="showTitle">
                                                                <div class="custom-check">
                                                                    <input  {% if block.options.showTitle %} checked  {% endif %} id="showTitle" name="showTitle" type="checkbox" role="checkbox"
                                                                           class="custom-check-input">
                                                                </div>
                                                                Afficher Titre
                                                            </label>
                                                            <label class="col-md-4" style="display: flex" for="indexed">
                                                                <div class="custom-check">
                                                                    <input {% if block.options.indexed %} checked  {% endif %} id="indexed" name="indexed" type="checkbox" role="checkbox"
                                                                           class="custom-check-input">
                                                                </div>
                                                                Table des matières
                                                            </label>
                                                            <label class="col-md-4" style="display: flex" for="paginated">
                                                                <div class="custom-check">
                                                                    <input {% if block.options.paginated %} checked  {% endif %} id="paginated" name="paginated" type="checkbox" role="checkbox"
                                                                           class="custom-check-input">
                                                                </div>
                                                                Pagination
                                                            </label>
                                                        </div>
                                                        <div class="auths">
                                                            <h4>Autorization</h4>
                                                                <table class="table table-striped table-bordered table-hover auth-tb-author"
                                                                       cellspacing="0" width="100%">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Auteur</th>
                                                                        <th>Lecture</th>
                                                                        <th>Ecriture</th>
                                                                        <th>Supression</th>
                                                                        <th><span data-toggle="tooltip" data-placement="bottom"
                                                                                  title="Limiter l'autorisation seulement a ce bloc">Strict</span></th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for authorization in block.authorizations %}
                                                                        {% if 'ROLE_AUTHOR' in authorization.user.roles %}
                                                                            <tr class="text-center">
                                                                                <td>
                                                                                    <select class="form-control" name="auth_user">
                                                                                        {% for user in authors %}
                                                                                            <option {% if  authorization.user.id == user.id %} selected {% endif %}
                                                                                                    value="{{ user.id }}">{{ user.profile.fullName }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="custom-check">
                                                                                        <input type="checkbox" class="custom-check-input" name="canRead"
                                                                                            {% if authorization.canRead %} checked {% endif %} value="{{ authorization.canRead }}">
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="custom-check">
                                                                                        <input type="checkbox" class="custom-check-input" name="canWrite"
                                                                                            {% if authorization.canWrite %} checked {% endif %} value="{{ authorization.canWrite }}">
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="custom-check">
                                                                                        <input type="checkbox" class="custom-check-input" name="canDelete"
                                                                                            {% if authorization.canDelete %} checked {% endif %} value="{{ authorization.canDelete }}">
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="custom-check">
                                                                                        <input type="checkbox" class="custom-check-input" name="limited"
                                                                                            {% if authorization.limited %} checked {% endif %} value="{{ authorization.limited }}">
                                                                                    </div>
                                                                                </td>

                                                                                <td class="text-center">
                                                                                    <button data-toggle="tooltip"
                                                                                            data-placement="top" title="Effacer ! "
                                                                                            class="btn btn-circle btn-icon-only red remove-auth">
                                                                                        <i class="fa fa-minus"></i>
                                                                                    </button>
                                                                                </td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    </tbody>
                                                                    {% if authors|length>0 %}
                                                                    <tfoot>
                                                                    <tr>
                                                                        <td colspan="6" class="col-md-12">
                                                                            <button type="button" id="addAuthor" class="btn green btn-circle btn-icon-only add-auth-btn" ><i
                                                                                        class="fa fa-plus"></i></button>
                                                                            ajouter un auteur
                                                                        </td>
                                                                    </tr>
                                                                    </tfoot>
                                                                    {% endif %}
                                                                </table>

                                                                <table class="table table-striped table-bordered table-hover auth-tb-validator"
                                                                       cellspacing="0" width="100%">
                                                                    <thead>
                                                                    <tr class="text-center">
                                                                        <th>Validateur</th>
                                                                        <th>
                                                                            <span data-toggle="tooltip" data-placement="bottom"
                                                                                  title="Limiter l'autorisation seulement a ce bloc">Strict</span>
                                                                        </th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for authorization in block.authorizations %}
                                                                        {% if 'ROLE_VALIDATOR' in authorization.user.roles %}
                                                                            <tr class="text-center">
                                                                                <td>
                                                                                    <select class="form-control" name="auth_user">
                                                                                        {% for user in validators %}
                                                                                            <option {% if  authorization.user.id == user.id %} selected {% endif %}
                                                                                                    value="{{ user.id }}">{{ user.profile.fullName }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="custom-check">
                                                                                        <input type="checkbox" class="custom-check-input" name="limited"
                                                                                            {% if authorization.limited %} checked {% endif %}  value="{{ authorization.limited }}">
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <button data-toggle="tooltip"
                                                                                            data-placement="top" title="Effacer ! "
                                                                                            class="btn btn-circle btn-icon-only red remove-auth">
                                                                                        <i class="fa fa-minus"></i>
                                                                                    </button>
                                                                                </td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    </tbody>
                                                                    {% if validators|length>0 %}
                                                                    <tfoot>
                                                                    <tr>
                                                                        <td colspan="3" class="col-md-12">
                                                                            <button type="button" id="addValidator" class="btn green btn-circle btn-icon-only add-auth-btn" {% if validators|length==0  %} disabled {% endif %}><i
                                                                                        class="fa fa-plus"></i></button>
                                                                            ajouter un validateur
                                                                        </td>
                                                                    </tr>
                                                                    </tfoot>
                                                                    {% endif %}
                                                                </table>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <button type="submit" class="btn green">Sauvegarder</button>
                                                                <button data-dismiss="modal" role="button" class="btn red">Annuler</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet box green-meadow col-md-12" style="margin-bottom: 15px">
                <div class="portlet-title">
                    <h4 class="pull-left">Édition du Livre</h4>

                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="reduire" data-placement="bottom"
                           title=""> </a>
                        <a href="" class="fullscreen" data-original-title="plein ecran" data-placement="bottom"
                           title=""> </a>
                    </div>
                    <div class="actions" style="margin-right: 10px">
                        <a id="addBookEdition" data-token="{{ book.token }}" class="btn green btn-sm">
                        <i class="fa fa-plus"></i> ajouter une édition</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th class="text-center col-md-2">Date Creation</th>
                            <th class="text-center col-md-1">Numéro</th>
                            <th class="text-center col-md-6">Titre indicatif</th>
                            <th class="text-center col-md-3">Action</th>
                        </tr>
                        </thead>
                        <tbody id="table-book-versions">
                        {% for bookEdition in book.editions %}
                            <tr>
                                <td class="text-center">{{ bookEdition.createdAt|date('Y-m-d') }}</td>
                                <td class="text-center">{{ bookEdition.number }}</td>
                                <td>{{ bookEdition.title }}</td>
                                <td class="text-center">
                                    {% if bookEdition.active %}
                                        <button type="button" class="btn green btn-sm activate-book-edition disabled" data-token="{{ bookEdition.token }}">
                                            Activer
                                        </button>
                                    {% else %}
                                        <button data-toggle="tooltip" data-title="Charger le contenu de cette édition" type="button" data-token="{{ bookEdition.token }}"
                                                class="btn green btn-sm activate-book-edition">
                                            Activer
                                        </button>
                                    {% endif %}
                                    <button data-toggle="tooltip" data-title="Publier pour les clients" type="button" data-id="{{ bookEdition.id }}"
                                            class="btn blue btn-sm publishBookEdition {% if bookEdition.published %} disabled {% endif %}">Publier
                                    </button>
                                    <button type="button" data-token="{{ bookEdition.token }}"
                                            class="btn red btn-sm deleteBookEdition">Supprimer
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="" id="menuSelected" data-menu="page-books">

    <div data-book="{{ book.id }}" class="modal fade fill-in blockModal" id="new-block-modal" tabindex="-1" aria-hidden="true">
        <a type="button" class="close-modal" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
        </a>
        <div class="modal-dialog">
            <form  id="createBlockForm" action="{{ url('administrator_create_block',{book:book.id}) }}" >
                <div class="modal-content row">
                    <div class="modal-header">
                        <h2><i class="fa fa-pencil"></i>&nbsp; Ajouter un bloc</h2>
                    </div>
                    <div class="modal-body col-md-12">
                        <div class="form-group col-md-12">
                            <label for="blockTitle" class="col-sm-4 control-label">Titre du bloc</label>
                            <div class="col-sm-8">
                                <input name="blockTitle" required type="text" class="form-control" id="blockTitle"
                                       placeholder="Titre du bloc">
                            </div>
                        </div>
                        <div class="form-group text-center col-md-12">
                            <label class="col-md-4" style="display: flex" for="showTitle">
                                <div class="custom-check">
                                    <input id="showTitle" name="showTitle" type="checkbox" role="checkbox"
                                           class="custom-check-input">
                                </div>
                                Afficher Titre
                            </label>
                            <label class="col-md-4" style="display: flex" for="indexed">
                                <div class="custom-check">
                                    <input id="indexed" name="indexed" type="checkbox" role="checkbox"
                                           class="custom-check-input">
                                </div>
                                Table des matières
                            </label>
                            <label class="col-md-4" style="display: flex" for="paginated">
                                <div class="custom-check">
                                    <input id="paginated" name="paginated" type="checkbox" role="checkbox"
                                           class="custom-check-input">
                                </div>
                                Pagination
                            </label>
                        </div>
                        <div class="auths">
                            <h4>Autorization</h4>
                            {% if authors|length>0 %}
                            <table class="table table-striped table-bordered table-hover auth-tb-author"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Auteur</th>
                                        <th>Lecture</th>
                                        <th>Ecriture</th>
                                        <th>Supression</th>
                                        <th><span data-toggle="tooltip" data-placement="bottom"
                                                  title="Limiter l'autorisation seulement a ce bloc">Strict</span></th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="col-md-12">
                                            <button type="button" id="addAuthor" class="btn green btn-circle btn-icon-only add-auth-btn" ><i
                                                        class="fa fa-plus"></i></button>
                                            ajouter un auteur
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            {% endif %}
                            {% if validators|length>0 %}
                            <table class="table table-striped table-bordered table-hover auth-tb-validator"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>Validateur</th>
                                        <th>
                                            <span data-toggle="tooltip" data-placement="bottom"
                                                  title="Limiter l'autorisation seulement a ce bloc">Strict</span>
                                        </th>
                                        <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="col-md-12">
                                            <button type="button" id="addValidator" class="btn green btn-circle btn-icon-only add-auth-btn" {% if validators|length==0  %} disabled {% endif %}><i
                                                        class="fa fa-plus"></i></button>
                                            ajouter un validateur
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer col-md-12">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn green">Crée</button>
                                <button type="reset" data-dismiss="modal" role="button" class="btn red">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/viewer/viewer.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/pages/css/custom-compo.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/pages/css/book.structure.css') }}">
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/global/plugins/jquery.mjs.nestedSortable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/viewer/viewer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/global/plugins/slick/slick.min.js') }}"></script>
    <script src="{{ asset('assets/pages/js/book.validation.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/pages/js/book/admin_edit_book.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/pages/js/book/edit_block_structure.js') }}"></script>
{% endblock %}