{% extends '@Main/layout.html.twig' %}

{% block title %}
    Livres en cours de préparation
{% endblock %}
{% block body %}
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ url('administrator_homepage') }}">Tableau de bord</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span class="active">Livres Livres en cours de préparation</span>
            </li>

        </ul>
    </div>
    <div class="m-heading-1 border-green m-bordered row" style="margin-bottom: 17px;">
        <h2><span class=" fa fa-clock-o"></span> &nbsp;Livres en cours de préparation</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red">
                <div class="portlet-title">
                    <a href="{{ url('administrator_new_book') }}" style="margin-top: 5px" class="btn btn-sm blue"><i class="fa fa-plus"></i>Nouveau livre</a>
                    <div class="tools">
                        <a href="javascript:;" data-placement="bottom" class="collapse" data-original-title="reduire" title=""> </a>
                        <a href="" class="fullscreen" data-placement="bottom" data-original-title="plein ecran" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body ">
                    <table class="table table-striped table-bordered minimisedDataTable" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th class="text-center">Date Creation</th>
                            <th>Titre</th>
                            <th class="text-center">Publiée (à venir)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books %}
                            <tr>
                                <td class="text-center col-md-2">{{ book.createdAt|date('d-m-Y') }}</td>
                                <td>{{ book.title }}</td>

                                <td class="text-center col-md-2">
                                    <input data-book="{{ book.id }}" type="checkbox" class="upcoming" {% if book.publishedPreview %}checked{% endif %}>
                                </td>
                                <td class="text-center col-md-1">
                                    <a data-toggle="tooltip" data-title="Détails du livre" href="{{ url('administrator_edit_book',{token:book.token}) }}"
                                       class="btn green btn-icon-only "><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="" id="menuSelected" data-menu="page-book-unpublished">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}">
    <style>
        .dataTables_scrollHead {
            overflow: visible !important;
        }
        table.minimisedDataTable tbody td {
            vertical-align: middle;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.upcoming').bootstrapSwitch(
                {
                    size:'small',
                    onText:'Oui',
                    offText:'Non',
                    offColor:'danger'
                }
            );
            $('.minimisedDataTable').on('switchChange.bootstrapSwitch', '.upcoming', function(event, state) {
               var book=$(this).data('book');
                $.ajax({
                  url:Routing.generate('administrator_switch_book_upcoming_state',{id:book}),
                  method:'POST'
               });
            });
        })
    </script>
{% endblock %}